/* TODO Add site wide styles */
body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}



.miniInfo1 {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.miniInfo1 div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.miniInfo1 h4 {
    align-self: center;
}

.miniInfo1 h6 {
    font-size: 12px;
}
.about-us-text {
    padding: 10px;
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.homepage-image{
    max-height: 500px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: #31c6e8 solid 3px;
    display: block;
    opacity: 0;
        animation: fadeIn .3s linear forwards;
    transition: box-shadow .3s;
    /* border: 3px solid black; */
    animation: 
        openspace 1s ease forwards, 
        restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
    float: left;
    max-width: 100%;

    /* animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    /* transform-origin: 0% 100%; */
}

.centered {
    justify-content: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  }
.middled {
    align-items: center;
  }

  main {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .circle-progress {
    position: absolute;
    /* height: 200px; */
    margin: 50%;
    z-index: -5;
    opacity: 0.4;
  }

  .icon-progress {
    position: absolute;
    /* height: 200px; */
    margin: 50%;
    z-index: -4;
    opacity: 0.4;
  }

  .doughnut {
    height: 20px;
    position: relative;
    left: 250px;
    /* border: #31c6e8 solid 2px; */
  }

  @media screen and (max-width: 750px) {
    .doughnut, .dashboard-button{
      display: none;
    }

}


  /* ----------------------------------------------
 * Generated by Animista on 2021-1-11 15:2:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @keyframes openspace {
  to {
      height: auto;
  }
}

@keyframes restored-item-animation {
  0% {
      opacity: 0;
      transform: translateX(300px);
  }

  70% {
      opacity: 1;
      transform: translateX(-50px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}


@keyframes removed-item-animation {
  0% {
      opacity: 1;
      transform: rotateZ(0);
}

  100% {
      opacity: 0;
      transform: translateY(600px) rotateZ(90deg);
  }
}