

    .miniProfile {
        background-color: white;
        /* position: absolute; */
        /* width: 350px;
        height: 200px; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        /* top: 200px;
        left: 10px; */
        border-radius: 10px;
    }
    
    .miniProfile img {
        width: 120px;
        height: 120px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 2px lightgray;
    }
    
    .miniProfile h2 {
        margin-top: 10px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }
    
    .miniInfo {
        display: flex;
        margin-bottom: 10px;
    }
    
    .miniInfo div {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    
    .miniInfo h4 {
        align-self: center;
    }
    
    .miniInfo h6 {
        font-size: 12px;
    }


.middled {
    align-items: center;
  }

.centered {
    justify-content: center;
  }

.dayslow {
    color: red;
}

.oversevendays {
    color: green;
}

.editAvatar {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}
.deleteUser {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin-top: 70px;
}

.spectrum-container {
    display: flex;
    /* margin: 10px; */
    padding: 22px;
    /* font-weight: bold; */
    border-radius: 5px;
    background: rgb(250,2,2);
    background: linear-gradient(90deg, rgba(250,2,2,1) 0%, rgba(10,121,158,1) 50%, rgba(0,255,139,1) 100%);
    overflow-x: scroll;
    z-index: 5;
    box-shadow: 0px 0px 2px 2px lightgray;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    max-width: 100%;
}

.data-bars {
    background: white;
    border-radius: 5px;
    height: 350px;
    display: flex;
    min-width: fit-content;
    box-shadow: 0px 0px 2px 2px lightgray;
}


.spectrum-image  {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1000;
  
    
}

.spectrum-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1000;
    
}

.spectrum-children {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: #bce2d3;
    
    opacity: 0;
        animation: fadeIn .3s linear forwards;
    transition: box-shadow .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    animation: 
        openspace .3s ease backwards, 
        restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
    float: right;



}

.spectrum-freezer {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: #b9d4da;
    opacity: 0;
        animation: fadeIn .3s linear forwards;
    transition: box-shadow .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    animation: 
        openspace .3s ease backwards, 
        restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
    float: right;


}

.spectrum-pantry {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background: rgb(231, 217, 217);
    opacity: 0;
        animation: fadeIn .3s linear forwards;
    transition: box-shadow .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    animation: 
        openspace .3s ease backwards, 
        restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
    float: right;


}

.removed-spectrum-children{
    border-radius: 5px;
    margin: 5px;
    background: white;
    opacity: 0;
        animation: fadeIn .3s linear forwards;
    transition: box-shadow .3s;
    /* border: 3px solid black; */
    animation: 
        openspace .3s ease forwards, 
        restored-item-animation .5s .3s cubic-bezier(.14,.25,.52,1.56) forwards;
    float: left;

    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}

.spectrum-children:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.closeIcon {
    position: relative;
    float: right;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }

  /* ----------------------------------------------
 * Generated by Animista on 2021-1-11 15:2:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @keyframes openspace {
    to {
        height: auto;
    }
}
 
@keyframes restored-item-animation {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }
 
    70% {
        opacity: 1;
        transform: translateX(-50px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

  
@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}
 
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}

.editform{
    float: right;
}

.edit-button {
    display: inline-flex;
}

.freezerBackground {
    border: #b9d4da solid 4px;
    /* box-shadow: 0 0 10px #b9d4da; */
    border-radius: 5px;
}

.fridgeBackground {
    border: #bce2d3 solid 4px;
    /* box-shadow: 0 0 10px #bce2d3; */
    border-radius: 5px;
    
}

.pantryBackground {
    border:  rgb(231, 217, 217) solid 4px;
    /* box-shadow: 0 0 10px rgb(231, 217, 217); */
    border-radius: 5px;
}

.delete-grocery-button {
    margin: 5px;
    display: block;
}

/* .delete-grocery-button:hover {
    margin: 5px;
} */
@media screen and (max-width: 750px) {
    .pantryBackground, .fridgeBackground, .freezerBackground {
      border: none;
    }
 

}